* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display:flex;
    background-color: black;
}

.navbar h2{
    justify-content: left;
    margin-top: 30px;
    color: white;
}

.navbar img{
    justify-content: left;
    height: 100px;
    width: 120px;
    min-width: fit-content;
}

.navbar button{
    height: 20px;
    margin-left: 1050px;
    margin-top: 70px;
}

.tableTitle{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.table{
    display:flex;
    justify-content: center;
    margin-top: 35px;
    align-items: center;
}

td{
    text-align: center;
}

