<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>NBA Central</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>

    <body>
        <div class = "navbar">
            
            <img src="https://www.logodesignlove.com/images/classic/nba-logo.jpg" alt="NBA Logo">
            <h2>NBA Central</h2>   

            <div class = "button"> 
                <button onclick="window.location.href='/mvp';"> MVP Data</button>   
            </div>
        </div>
       
       <div class ="tableTitle">
         <h3>Live Scoreboard:</h3>
       </div>

        <div class= "table">
            <table border="1">
                <tr>
                    <th>Away Team</th>
                    <th>Away Score</th>
                    <th>Home Team</th>
                    <th>Home Score</th>       
                    <th>Game Status</th> 
                </tr>

                {% for game in games %}
                    <tr>
                    <td>{{game.awayTeam}}</td>
                    <td>{{game.awayScore}}</td>
                    <td>{{game.homeTeam}}</td>
                    <td>{{game.homeScore}}</td>
                    <td>{{game.gameStatusText}}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>